@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('3709.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

#playButton {
    padding: 1em;
    cursor: pointer;
    background: #72a1ec;
    border: 1px solid white;
    border-radius: 2em;
    transition: all 0.3s ease;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

#playButton:hover {
    background-color: #85a7f0
}
